# Copyright (C) 2017 Kazumasa Kohtaka <kkohtaka@gmail.com> All right reserved
# This file is available under the MIT license.

[Unit]
Description=The tool for beautiful monitoring and metric analytics & dashboards for Graphite, InfluxDB & Prometheus & More
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ image_repository }}:{{ image_version }}
ExecStart=/usr/bin/docker run \
  --rm \
  --name %p \
  --publish 3000:3000 \
  --volume /etc/prometheus:/etc/prometheus \
  --volume /var/prometheus:/var/prometheus \
  {{ image_repository }}:{{ image_version }} \
  --config.file /etc/grafana/grafana.ini

[Install]
WantedBy=multi-user.target
